.post#body-wrap > .layout{
  max-width: 1500px;
}

.post#body-wrap > .layout > #post{
  width: 75%;
  flex: 1;
}

.post#body-wrap > .layout > .aside-content#aside-content{
  width: 25%;
  max-width: 300px;
}